<%!-- This is the application layout. It's often very similar to root.html.heex
     or might include app-specific headers/footers.
     LiveViews often use this layout.
--%>
<main class="px-4 py-10 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <%!-- Flash messages are typically shown here in the app layout as well --%>
    <%!-- Example: <.flash_group flash={@flash} /> --%>
    <%= @inner_content %>
  </div>
</main>
